---
import Title from '../ui/Title.astro'
import Button from '../ui/Button.astro'
import Image from '../ui/Image.astro'
---

<div
  class:list={[
    'container',
    'mx-auto',
    'px-4',
    'flex',
    'flex-col lg:flex-row',
    'items-center',
    'justify-between',
    'gap-8',
    'group',
    'gap-8',
  ]}
>
  <div class:list={['flex-1', 'text-center lg:text-left', 'w-full lg:w-1/2']}>

    <Title
      isH1={true}
      class:list={['!text-center lg:!text-left']}
    >
      Expert Legal Process Serving Powered by Technology
    </Title>

    <p class:list={['mt-1', 'text-base']}>On Time, Every Time</p>

    <div class:list={['mt-8']}>
      <Button
        href='/contacto'
        class:list={['mr-2']}
      >
        Order now
      </Button>
      <Button
        href='/request-account'
        isGhost={true}
      >
        Get a quote
      </Button>
    </div>
  </div>

  <Image
    src='/imgs/entrega-de-documentos.webp'
    alt='avion'
    class:list={['lg:w-1/2']}
  />
</div>
