---
import Layout from "../layouts/Layout.astro";
import Title from "../components/ui/Title.astro";
import Button from "../components/ui/Button.astro";
import Image from "astro/components/Image.astro";
import '../styles/global.css'
---

<layout>
  <div class="container">
    <Title isH1={false}>
    Streamlined<br />
    Cargo Delivery<br />
    Solutions
    </Title>
    <h3>Operating across the globe, we ensure efficient delivery of your cargo to any destination.</h3>
</div>
</layout>