---
import Title from "../components/ui/Title.astro"
import Button from "../components/ui/Button.astro"
import Layout from "../layouts/Layout.astro"
import '../styles/global.css'
import InfoCardA from "../components/ui/InfoCardA.astro"
---

<Layout>
  <Button href="/contacto">Get Started</Button>
  <Button href="/about" isGhost={true}>About Us</Button>

  <Title isH1={true}>
  Streamlined<br />
  Cargo Delivery<br />
  Solutions
  </Title>

  <InfoCardA 
  imgSrc="../public/imgs/avion-estacionado.jpg"
  title="Esto solo es una prueba"
  text="esta solo es una pruba para ver como funciona y vemos que pues bien y no se que mas poner" 
  <button><Button>HOLA</Button></button>

</Layout>