---
import Title from "../layouts/Title.astro"
import Button from "../layouts/Button.astro"
---

<layout>
  <Button href="/contacto">Get Started</Button>
  <Button href="/about" isGhost={true}>About Us</Button>

  <Title isH1={false} />
</layout>