---
import "../styles/global.css";
import ImageSpace from "../components/ui/Image.astro";
import LinksList from "../components/ui/LinkList.astro";
import Layout from "../layouts/Layout.astro";

const navLinks = [
  { name: "Inicio", href: "/" },
  { name: "Acerca", href: "/saul" },
  { name: "Inicio", href: "/saul" },
  { name: "Acerca", href: "/saul" }
];

const activeLink = "/";
---
<layout>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pagina Compuesta</title>
  </head>
  <body>
    <div class="container group">
      <ImageSpace src="/imgs/perro.webp" alt="Descripción de la imagen" />
      <br>
      
      <div class="links-section">
        <LinksList links={navLinks} activeLink={activeLink} />
      </div>
    </div>
  </body>
</html>
</layout>