---
interface Props {
  title: string,
  ctaText: string,
  href: string, 
  class?: string
}

const { title, ctaText, href, class: className } = Astro.props;
---

<div class:list={[ 
  'relative',
  'h-60', 'sm:h-80','w-[300px]',
  'hover:w-[360px]',
  'sm:w-[400px]', 'sm:hover:w-[600px]',
  'transition-all', 'duration-700',
  'overflow-hidden',
  'group',
  'flex-shrink-0',
  className
]}>
  <slot name="image" />

  <!-- Capa 1: título y fondo -->
  <div class:list={[ 
    'absolute',
    'inset-0',
    'z-20'
  ]}>
    <div class:list={[ 
      'absolute',
      'inset-0',
      'z-30',
      'flex',
      'items-center', 'justify-center',
      'text-center'
    ]}>
      <h2 class:list={[ 
        'text-white',
        'text-sm', 'font-semibold',
        'sm:text-lg', 
        'px-4'
      ]}>
        {title}
      </h2>
    </div>
    <div class:list={[ 
      'absolute',
      'inset-0',
      'flex',
      'items-center', 'justify-center'
    ]}>
      <div class:list={[ 
        'absolute',
        'top-0',
        'left-0',
        'w-full', 'h-full',
        'custom-clip',
        'z-10',
        'duration-700',
        'rotate-320',
        'pointer-events-none',
        'sm:w-full', 'sm:h-full'
      ]}></div>
    </div>
  </div>

  <!-- Capa 2: hover -->
  <div class:list={[ 
    'absolute',
    'inset-0',
    'z-40',
    'transition-all', 'duration-700','transform',
    'scale-x-0',
    'origin-left',
    'group-hover:scale-x-100'
  ]}>
    <div class:list={[ 
      'w-full', 'h-full',
      'flex', 'flex-row',
      'justify-between','items-center',
      'sm:items-center',
      'bg-white',
      'p-3',
      'sm:p-6',
      'rounded-xl',
      'shadow',
      'border', 'border-blue-900',
      'gap-4'
    ]}>

      <!-- Columna de texto -->
      <div class:list={[ 
        'flex','flex-col',
        'space-y-3',
        'w-[calc(100%-90px)]','sm:w-[60%]'
      ]}>
        <h2 class:list={[ 
          'text-[10px]', 'font-semibold',
          'sm:text-base', 'md:text-lg'
        ]}>
          {title}
        </h2>

        <div class:list={[ 
          'text-[7px]',
          'sm:text-sm', 'md:text-xs'
        ]}>
          <slot />
        </div>

        <div class:list={[ 
          'flex','flex-row',
          'items-center',
          'gap-2',
          'text-[10px]',
          'sm:text-sm'
        ]}>
          <a href={href} class:list={[ 
            'font-semibold',
            'hover:scale-110',
            'flex',
            'items-center'
          ]}>
            {ctaText}
          </a>
          <slot name="button" />
        </div>
      </div>

      <!-- Imagen lateral -->
      <div class:list={[ 
        'w-[100px]', 'h-[140px]',
        'sm:w-[160px]','sm:h-[200px]',
        'md:w-[200px]','md:h-[250px]',
        'rounded-md',
        'hover:scale-110',
        'overflow-hidden',
        'relative',
        'shrink-0',
        'flex-grow-0'
      ]}>
        <slot name="bg" />
      </div>
    </div>
  </div>
</div>

<style>
.custom-clip {
  clip-path: polygon(
    18% 16%,
    72% 20%, 
    100% 54%,
    81% 86%,
    28% 82%,
    0% 48%
  );
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  background-color: rgba(255, 255, 255, 0.25);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 40px;
}
</style>
